<header class="container-fluid headerContainer">
  <nav class="row">
    <div class="col-6 menu">
      <button (click)="goTo('')"><fa-icon [icon]="faHome"></fa-icon></button>
      <button (click)="goTo('enviroments')">
        <fa-icon [icon]="faCopy"></fa-icon>&nbsp; <span>Ambientes</span>
      </button>
      <button (click)="goTo('stores')">
        <fa-icon [icon]="faStore"></fa-icon>&nbsp; <span>Lojas</span>
      </button>
      <button (click)="goTo('users')">
        <fa-icon [icon]="faUsers"></fa-icon>&nbsp; <span>Usuários</span>
      </button>
    </div>

    <div class="col-6 profile">
      <button (mouseover)="callCard()" (mouseout)="callCard()" class="circlebutton" style="margin-right: 2%; position: relative">
        <fa-icon [icon]="faExclamation"></fa-icon>
        <div class="msgBox btnInfoDispNone" id="btnInfo">
          <div class="oneLine">
            <p>Status {{ health.status }}</p>
          </div>
          <div class="twoLine">
            <p>Versão: {{ health.version }}</p>
          </div>
          <div class="threeLine">
            <p>Ambiente: {{ health.node_env }}</p>
          </div>
        </div>
      </button>
      <span>{{ name }}</span>&nbsp;
      <button (click)="logOut()" title="Sair">
        <fa-icon [icon]="faSingOut"></fa-icon>
      </button>
    </div>
  </nav>
</header>
