<header class="container-fluid headerContainer">
  <nav class="row">
    <div class="col-6 menu">
      <button (click)="goTo('')"><fa-icon [icon]="faHome"></fa-icon></button>
      <button (click)="goTo('enviroments')">
        <fa-icon [icon]="faCopy"></fa-icon>&nbsp; <span>Ambientes</span>
      </button>
      <button (click)="goTo('stores')">
        <fa-icon [icon]="faStore"></fa-icon>&nbsp; <span>Lojas</span>
      </button>
      <button (click)="goTo('users')">
        <fa-icon [icon]="faUsers"></fa-icon>&nbsp; <span>Usuários</span>
      </button>
    </div>

    <div class="col-6 profile">
      <button (click)="callCard()" style="margin-right: 2%; position: relative">
        <fa-icon [icon]="faExclamation"></fa-icon>
        <div class="msgBox btnInfoDispNone" id="btnInfo">
          <div class="oneLine">
            <span class="systemInfoAtt">S</span>
            <p>O sistema está {{ health.status }}</p>
          </div>
          <div class="twoLine">
            <span class="systemVersion">V</span>
            <p>Versão do Sistema: {{ health.version }}</p>
          </div>
          <div class="threeLine">
            <span class="systemAmbient">A</span>
            <p>Ambiente Info: {{ health.node_env }}</p>
          </div>
        </div>
      </button>
      <span>
        <span style="font-weight: bold">Bem vindo de volta</span>
        {{ name }} </span
      >&nbsp;
      <button (click)="logOut()" title="Sair">
        <fa-icon [icon]="faSingOut"></fa-icon>
      </button>
    </div>
  </nav>
</header>
