<div class="enviromentsContainer">
  <button class="btnCreate" (click)="goTo('register')">
    Criar ambiente
  </button>
  &nbsp;
  <app-loading [(isLoading)]="loading"></app-loading>
  <table>
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>type</th>
      <th>status</th>
      <th>url</th>
      <th>password</th>
      <th>created_at</th>
    </thead>
    <tbody>
      <tr *ngFor="let env of enviroments" (click)="edit(env.id)">
        <td>{{ env.id }}</td>
        <td>{{ env.name }}</td>
        <td>{{ env.type }}</td>
        <td>{{ env.status }}</td>
        <td>{{ env.url }}</td>
        <td>{{ env.password }}</td>
        <td>{{ env.created_at | date: "dd/MM/yyyy" }}</td>
      </tr>
    </tbody>
  </table>
</div>
