@import '../../styles/colors.scss';

.loginCardWrapper {
  display: flex;
  justify-content: center;
  background: #f8f8f8;
  height: 100vh - 5vh;
  padding-top: 5vh;

  form {
    display: flex;
    flex-direction: column;

    h2 {
      color: gray;
      padding-top: 2%;
      padding-bottom: 7%;
    }

    input {
      padding: 20px;
      font-size: 1.2rem;
      border: solid 1px #c8c8c8;
      border-radius: 4px;
    }
    #inputPassword {
      margin: 2% 0;
    }

    button {
      padding: 20px;
      background: $primary;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 1.2rem;
      outline: none;
      cursor: pointer;
    }
  }
}
