<div class="loginCardWrapper">
  <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <img src="./../../assets/LogoEcomLab.png" alt="Divulgadores Mondial" height="100"/>
    <h2>Informe seus dados de Acesso</h2>
    <input
      type="text"
      name="username"
      formControlName="username"
      placeholder="Digite seu Email"
      required="true"
    />
    <input
      formControlName="password"
      type="password"
      name="password"
      placeholder="Digite sua Senha"
      required="true"
      id="inputPassword"
    />
    <span *ngIf="error" class="error">Usuário ou senha inválidos</span>
    <button type="submit">Entrar</button>
    <app-loading [(isLoading)]="isLoading"></app-loading>
  </form>
</div>
