<div class="storesContainer">
  <button class="btnCreate" (click)="goTo('register')">
    Criar loja
  </button>
  &nbsp;
  <app-loading [(isLoading)]="loading"></app-loading>
  <table>
    <thead>
      <th>Id</th>
      <th>Nome</th>
      <th>Status</th>
      <th>Ambiente</th>
      <th>Url</th>
      <th>Data de registro</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of stores" (click)="edit(item.id)">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.enviroment_id }}</td>
        <td>{{ item.url }}</td>
        <td>{{ item.createdAt }}</td>
      </tr>
    </tbody>
  </table>
</div>
