<form [formGroup]="storeForm" (ngSubmit)="register()">
  <div class="submit-container">
    <button type="submit" class="btnCreate">Salvar</button>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="input-section store">
        <h3>Loja</h3>
        <input placeholder="Nome" type="text" formControlName="storeName" />

        <input placeholder="Url" type="text" formControlName="storeUrl" />

        <input placeholder="ID do Site" type="text" formControlName="storeWebsite" />

        <select formControlName="storeEnv">
          <option value="" disabled selected>Ambiente</option>
          <option *ngFor="let opt of enviroments" value="{{ opt.id }}">
            {{ opt.name }}
          </option>
        </select>

        <select formControlName="storeStatus">
          <option value="" disabled selected>Status</option>
          <option *ngFor="let opt of status" value="{{ opt.value }}">
            {{ opt.viewValue }}
          </option>
        </select>

        <select name="" id="" formControlName="storeAllowRegister">
          <option value="" disabled selected>Permitir Registro</option>
          <option value="true">Sim</option>
          <option value="false">Não</option>
        </select>

        <select name="" id="" formControlName="storeProtectedRegister">
          <option value="" disabled selected>Registro protegido</option>
          <option value="true">Sim</option>
          <option value="false">Não</option>
        </select>

        <select name="" id="" formControlName="storeComissionType">
          <option value="" disabled selected>Tipo de comissão</option>
          <option value="1">Procentagem</option>
          <option value="2">Valor Fixo</option>
        </select>

        <input placeholder="Valor da comissão" type="text" formControlName="storeComissionValue"/>
      </div>
      <div class="input-section status">
        <h3>Status de venda</h3>
        <input type="number" placeholder="recebido" formControlName="saleReceived" />
        <input type="number" placeholder="completed" formControlName="saleCompleted" />
        <input type="number" placeholder="canceled" formControlName="saleCanceled" />
      </div>
    </div>
    <div class="col-4">
      <div class="input-section requirements">
        <h3>Requisitos de usuários</h3>
        <div class="row">
          <div class="col-6">
            <label for="reqPhone1">
              <input type="checkbox" id="reqPhone1" formControlName="reqPhone1" value="true">
              Telefone 1
            </label>

            <label for="reqPhone2">
              <input type="checkbox" id="reqPhone2" formControlName="reqPhone2" value="true">
              Telefone 2
            </label>

            <label for="reqCpfCnpj">
              <input type="checkbox" id="reqCpfCnpj" formControlName="reqCpfCnpj" value="true">
              CPF OU CPNJ
            </label>

            <label for="reqPis">
              <input type="checkbox" id="reqPis" formControlName="reqPis" value="true">
              Pis
            </label>

            <label for="reqRg">
              <input type="checkbox" id="reqRg" formControlName="reqRg" value="true">
              Rg
            </label>
            <label for="reqBirthDate">
              <input type="checkbox" id="reqBirthDate" formControlName="reqBirthDate" value="true">
              Data de Aniversário
            </label>

            <label for="reqNationality">
              <input type="checkbox" id="reqNationality" formControlName="reqNationality" value="true">
              Nacionalidade
            </label>

            <label for="reqBirthLocation">
              <input type="checkbox" id="reqBirthLocation" formControlName="reqBirthLocation" value="true">
              Local de Nascimento
            </label>
            <label for="reqMaritalStatus">
              <input type="checkbox" id="reqMaritalStatus" formControlName="reqMaritalStatus" value="true">
              Estado civil
            </label>

            <label for="reqGender">
              <input type="checkbox" id="reqGender" formControlName="reqGender" value="true">
              Gênero
            </label>

            <label for="reqLiteracy">
              <input type="checkbox" id="reqLiteracy" formControlName="reqLiteracy" value="true">
              Literacy
            </label>
          </div>
          <div class="col-6">
            <label for="reqCep">
              <input type="checkbox" id="reqCep" formControlName="reqCep" value="true">
              Cep
            </label>

            <label for="reqAdress">
              <input type="checkbox" id="reqAdress" formControlName="reqAdress" value="true">
              Endereço
            </label>

            <label for="reqAdressNumber">
              <input type="checkbox" id="reqAdressNumber" formControlName="reqAdressNumber" value="true">
              Número da residencia
            </label>

            <label for="reqNeighborhood">
              <input type="checkbox" id="reqNeighborhood" formControlName="reqNeighborhood" value="true">
              Bairro
            </label>

            <label for="reqCity">
              <input type="checkbox" id="reqCity" formControlName="reqCity" value="true">
              Cidade
            </label>

            <label for="reqState">
              <input type="checkbox" id="reqState" formControlName="reqState" value="true">
              Estado
            </label>

            <label for="reqBank">
              <input type="checkbox" id="reqBank" formControlName="reqBank" value="true">
              Banco
            </label>

            <label for="reqAgency">
              <input type="checkbox" id="reqAgency" formControlName="reqAgency" value="true">
              Agência
            </label>

            <label for="reqAccount">
              <input type="checkbox" id="reqAccount" formControlName="reqAccount" value="true">
              Conta
            </label>

            <label for="reqAccountOwner">
              <input type="checkbox" id="reqAccountOwner" formControlName="reqAccountOwner" value="true">
              Titular da Conta
            </label>

            <label for="reqAccountOwnerCpf">
              <input type="checkbox" id="reqAccountOwnerCpf" formControlName="reqAccountOwnerCpf" value="true">
              CPF do Titular da Conta
            </label>
          </div>
        </div>
      </div>


      <div class="input-section user">
        <h3>Usuário padrão</h3>
        <input type="text" placeholder="nome do usuário" formControlName="userName" />
        <input type="text" placeholder="email do usuário" formControlName="userEmail" />
        <input type="text" placeholder="senha do usuário" formControlName="userPassword"/>
      </div>

    </div>
    <div class="col-4">
      <div class="input-section contract">
        <h3>Contrato</h3>
        <textarea type="text" placeholder="conteúdo" formControlName="contract"></textarea>
      </div>
    </div>
  </div>
</form>
