<form [formGroup]="storeForm" (ngSubmit)="register()">
  <div class="submit-container">
    <button type="submit" class="btnCreate">Salvar</button>
    &nbsp;
    <app-loading [(isLoading)]="loading"></app-loading>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-4">
      <div class="input-section store">
        <h3>Loja</h3>
        <input
          maxlength="30"
          placeholder="Nome"
          [(ngModel)]="store.name"
          type="text"
          formControlName="storeName"
          required="true"
        />

        <input
          placeholder="Url"
          [(ngModel)]="store.url"
          type="text"
          formControlName="storeUrl"
          required="true"
        />

        <input
          placeholder="ID do Site"
          [(ngModel)]="store.website_id"
          type="number"
          formControlName="storeWebsite"
          required="true"
        />

        <div class="row justify-content-between">
          <div class="col-5-5">
            <select
              formControlName="storeEnv"
              [(ngModel)]="store.enviroment_id"
            >
              <option value="undefined" disabled selected>Ambiente</option>
              <option *ngFor="let opt of enviroments" value="{{ opt.id }}">
                {{ opt.name }}
              </option>
            </select>
            <label for="storeAllowRegister">
              <input
                type="checkbox"
                [(ngModel)]="store.allow_register"
                id="storeAllowRegister"
                formControlName="storeAllowRegister"
              />
              Permitir Registro
            </label>
            <select
              name=""
              id=""
              formControlName="storeComissionType"
              [(ngModel)]="store.comission_type"
            >
              <option value="undefined" disabled selected>
                Tipo de comissão
              </option>
              <option value="1">Procentagem</option>
              <option value="2">Valor Fixo</option>
            </select>
          </div>
          <div class="col-5-5">
            <select formControlName="storeStatus" [(ngModel)]="store.status">
              <option value="undefined" disabled selected>Status</option>
              <option *ngFor="let opt of status" value="{{ opt.value }}">
                {{ opt.viewValue }}
              </option>
            </select>
            <label for="storeProtectedRegister">
              <input
                type="checkbox"
                id="storeProtectedRegister"
                [(ngModel)]="store.protected_register"
                formControlName="storeProtectedRegister"
                required="true"
              />
              Cadastro protegido
            </label>
            <input
              currencyMask
              placeholder="Valor da comissão"
              type="text"
              [(ngModel)]="store.comission_value"
              formControlName="storeComissionValue"
              required="true"
            />
          </div>
        </div>
      </div>
      <div class="input-section status">
        <h3>Status de venda</h3>
        <input
          type="number"
          min="1"
          max="3"
          placeholder="recebido"
          [(ngModel)]="sale.received"
          formControlName="saleReceived"
          required="true"
        />
        <input
          type="number"
          min="1"
          max="3"
          placeholder="completed"
          [(ngModel)]="sale.complete"
          formControlName="saleCompleted"
          required="true"
        />
        <input
          type="number"
          min="1"
          max="3"
          placeholder="canceled"
          [(ngModel)]="sale.canceled"
          formControlName="saleCanceled"
          required="true"
        />
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
      <div class="input-section requirements">
        <h3>Requisitos de usuários</h3>
        <div class="row">
          <div class="col-6">
            <label for="reqPhone1">
              <input
                type="checkbox"
                id="reqPhone1"
                [(ngModel)]="requirements.phone_1"
                formControlName="reqPhone1"
                value="true"
              />
              Telefone 1
            </label>

            <label for="reqPhone2">
              <input
                type="checkbox"
                id="reqPhone2"
                [(ngModel)]="requirements.phone_2"
                formControlName="reqPhone2"
                value="true"
              />
              Telefone 2
            </label>

            <label for="reqCpfCnpj">
              <input
                type="checkbox"
                id="reqCpfCnpj"
                [(ngModel)]="requirements.cpf_cnpj"
                formControlName="reqCpfCnpj"
                value="true"
              />
              CPF OU CPNJ
            </label>

            <label for="reqPis">
              <input
                type="checkbox"
                id="reqPis"
                [(ngModel)]="requirements.pis"
                formControlName="reqPis"
                value="true"
              />
              Pis
            </label>

            <label for="reqRg">
              <input
                type="checkbox"
                id="reqRg"
                [(ngModel)]="requirements.rg"
                formControlName="reqRg"
                value="true"
              />
              Rg
            </label>
            <label for="reqBirthDate">
              <input
                type="checkbox"
                id="reqBirthDate"
                [(ngModel)]="requirements.birthdate"
                formControlName="reqBirthDate"
                value="true"
              />
              Data de Aniversário
            </label>

            <label for="reqNationality">
              <input
                type="checkbox"
                id="reqNationality"
                [(ngModel)]="requirements.nationality"
                formControlName="reqNationality"
                value="true"
              />
              Nacionalidade
            </label>

            <label for="reqBirthLocation">
              <input
                type="checkbox"
                id="reqBirthLocation"
                [(ngModel)]="requirements.birth_location"
                formControlName="reqBirthLocation"
                value="true"
              />
              Local de Nascimento
            </label>
            <label for="reqMaritalStatus">
              <input
                type="checkbox"
                id="reqMaritalStatus"
                [(ngModel)]="requirements.marital_status"
                formControlName="reqMaritalStatus"
                value="true"
              />
              Estado civil
            </label>

            <label for="reqGender">
              <input
                type="checkbox"
                id="reqGender"
                [(ngModel)]="requirements.gender"
                formControlName="reqGender"
                value="true"
              />
              Gênero
            </label>

            <label for="reqLiteracy">
              <input
                type="checkbox"
                id="reqLiteracy"
                [(ngModel)]="requirements.literacy"
                formControlName="reqLiteracy"
                value="true"
              />
              Literacy
            </label>
          </div>
          <div class="col-6">
            <label for="reqCep">
              <input
                type="checkbox"
                id="reqCep"
                [(ngModel)]="requirements.cep"
                formControlName="reqCep"
                value="true"
              />
              Cep
            </label>

            <label for="reqAddress">
              <input
                type="checkbox"
                id="reqAddress"
                [(ngModel)]="requirements.address"
                formControlName="reqAddress"
                value="true"
              />
              Endereço
            </label>

            <label for="reqAddressNumber">
              <input
                type="checkbox"
                id="reqAddressNumber"
                [(ngModel)]="requirements.address_number"
                formControlName="reqAddressNumber"
                value="true"
              />
              Número da residencia
            </label>

            <label for="reqNeighborhood">
              <input
                type="checkbox"
                id="reqNeighborhood"
                [(ngModel)]="requirements.neighborhood"
                formControlName="reqNeighborhood"
                value="true"
              />
              Bairro
            </label>

            <label for="reqCity">
              <input
                type="checkbox"
                id="reqCity"
                [(ngModel)]="requirements.city"
                formControlName="reqCity"
                value="true"
              />
              Cidade
            </label>

            <label for="reqState">
              <input
                type="checkbox"
                id="reqState"
                [(ngModel)]="requirements.state"
                formControlName="reqState"
                value="true"
              />
              Estado
            </label>

            <label for="reqBank">
              <input
                type="checkbox"
                id="reqBank"
                [(ngModel)]="requirements.bank"
                formControlName="reqBank"
                value="true"
              />
              Banco
            </label>

            <label for="reqAgency">
              <input
                type="checkbox"
                id="reqAgency"
                [(ngModel)]="requirements.agency"
                formControlName="reqAgency"
                value="true"
              />
              Agência
            </label>

            <label for="reqAccount">
              <input
                type="checkbox"
                id="reqAccount"
                [(ngModel)]="requirements.account"
                formControlName="reqAccount"
                value="true"
              />
              Conta
            </label>

            <label for="reqAccountOwner">
              <input
                type="checkbox"
                id="reqAccountOwner"
                [(ngModel)]="requirements.account_owner"
                formControlName="reqAccountOwner"
                value="true"
              />
              Titular da Conta
            </label>

            <label for="reqAccountOwnerCpf">
              <input
                type="checkbox"
                id="reqAccountOwnerCpf"
                [(ngModel)]="requirements.account_owner_cpf"
                formControlName="reqAccountOwnerCpf"
                value="true"
              />
              CPF do Titular da Conta
            </label>
          </div>
        </div>
      </div>

      <div class="input-section user" *ngIf="!isEdit">
        <h3>Usuário padrão</h3>
        <input
          required="true"
          type="text"
          [(ngModel)]="user.name"
          placeholder="nome do usuário"
          formControlName="userName"
        />
        <input
          required="true"
          type="text"
          [(ngModel)]="user.email"
          placeholder="email do usuário"
          formControlName="userEmail"
        />
        <input
          required="true"
          type="password"
          [(ngModel)]="user.password"
          placeholder="senha do usuário"
          formControlName="userPassword"
        />
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
      <div class="input-section contract">
        <h3>Contrato</h3>
        <textarea
          type="text"
          [(ngModel)]="contract.content"
          placeholder="conteúdo"
          formControlName="contract"
        ></textarea>
      </div>
    </div>
  </div>
</form>
