<form action="post">
  <img
    src="./../../../../assets/LogoDivulgadores.png"
    alt="Divulgadores Mondial"
  />
  <h2 id="formTextTitle">Informe seus dados de acesso</h2>
  <input type="text" placeholder="login do usuário" required />
  <input
    type="password"
    id="inputAlignMargins"
    placeholder="senha do usuário"
    required
  />
  <button type="submit">Enviar</button>
  <a href="https://ecomlab.com.br/" target="_blank" id="EcomIconLinkAlign">
    <img
      id="EcomIconLinkImage"
      src="./../../../../assets/LogoEcomLab.png"
      alt=""
    />
  </a>
</form>
